*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: 'roboto-medium';
  src: url('./assets/font/roboto-medium\ \(1\).woff2');
}

@font-face {
  font-family: 'roboto-regular';
  src: url('./assets/font/roboto-regular.woff2');
}

@font-face {
  font-family: 'inter-regular';
  src: url(./assets/font/Inter-Regular.woff2);
}

@font-face {
  font-family: 'inter-semibold';
  src: url(./assets/font/Inter-SemiBold.woff2);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 320px) {
  .desktop-view {
    display: none;
  }
}

@media screen and (min-width: 960px) {
  .mobile-view {
    display: none;
  }

  .desktop-view {
    display: block;
  }
}

